*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat, Helvetica, sans-serif;
  background: rgb(21, 22, 26);
  color: #f1f1f1;
}

.desktop-nav {
  position: fixed;
  width: 100%;
  text-align: center;
  padding: 20px 5px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #a4a4a4;
}
.desktop-nav a {
  text-decoration: none;
  color: #f1f1f1;
  margin: 0 10px;
  font-weight: 600;
}

.global-toggler {
  display: none;
}
.curtain-menu {
  display: none;
}

@media (max-width: 1100px) {
  .desktop-nav {
    display: none;
  }
  .global-toggler {
    display: inline;
    width: 60px;
    height: 60px;
    border: 2px solid #f4f4f4cc;
    background: #15161a;
    position: fixed;
    top: 15px;
    left: 25px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .global-toggler img{
    width: 25px;
  }
  .curtain-menu {
    display: block;
    position: fixed;
    top: 0;
    width: 300px;
    height: 100vh;
    text-align: center;
    padding: 20px 5px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-right: 10px#a4a4a4;
    transform: translateX(-100%);
    transition: transform 0.4s ease-out;
  }
  .curtain-menu.active {
    transform: translateX(0);
  }
  .top-menu-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: 1px solid #f1f1f1;
    padding: 5px 10px;
    border-radius: 5px;
    background: none;
    color: #f1f1f1;
    cursor: pointer;
  }

  .curtain-menu a {
    display: block;
    text-decoration: line;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
    color: #f1f1f1;
    margin: 50px;
    font-weight: 600;
    font-size: 20px;
    text-shadow: 
    0 2px 0px #1a1a1a4d,
    0 4px 0px #1a1a1a4d;
}

}

main {
  margin: 0 auto;
  max-width: 1100px;
  padding-top: 100px;
}
article {
    padding: 0 30px;
}
article h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

.decoration-img {
  margin-bottom: 50px;
}

.article-content {
  line-height: 1.6;
  font-size: 20px;
  padding: 20px 10px;
}
.article-content p {
  margin: 30px 0;
}
